<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page 2</title>
    <%- include("_partials/head.html.ejs") %>
  </head>
  <body class="page-two" data-attr-foo="bar">
    <h1>WELCOME TO PAGE 2</h1>

<wa-card class="card-overview">
  <img
    slot="media"
    src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
    alt="A kitten sits patiently between a terracotta pot and decorative grasses."
  />

  <strong>Mittens</strong><br />
  This kitten is as cute as he is playful. Bring him home today!<br />
  <small class="wa-caption-s">6 weeks old</small>

  <wa-button slot="footer" variant="brand" pill>More Info</wa-button>
  <wa-rating slot="footer-actions" label="Rating"></wa-rating>
</wa-card>

<style>
  .card-overview {
    width: 300px;
  }
</style>

    <br>

    <a href="/" method="GET">
      ANCHOR GET
    </a>

    <br><br>

    <form action="/" method="GET">
      <input type="hidden" name="foo" value="bar">
      <button>FORM GET</button>
    </form>
    <br>
    <form action="/" method="POST">
      <input type="hidden" name="foo" value="bar">
      <button>POST</button>
    </form>

    <div id="foo" data-driveshaft-permanent>
      PERMANENT NODE 2
    </div>

    <!-- Using multiple sources as fallbacks for a video tag -->
    <!-- 'Elephants Dream' by Orange Open Movie Project Studio, licensed under CC-3.0, hosted by archive.org -->
    <!-- Poster hosted by Wikimedia -->
    <video
      id="perm-video"
      width="620"
      controls
      poster="https://upload.wikimedia.org/wikipedia/commons/e/e8/Elephants_Dream_s5_both.jpg"
      data-driveshaft-permanent
      data-turbo-permanent
    >
      <source
        src="https://archive.org/download/ElephantsDream/ed_hd.avi"
        type="video/avi" />
      <source
        src="https://archive.org/download/ElephantsDream/ed_1024_512kb.mp4"
        type="video/mp4" />

      Sorry, your browser doesn't support embedded videos, but don't worry, you can
      <a
        href="https://archive.org/download/ElephantsDream/ed_1024_512kb.mp4"
        download="ed_1024_512kb.mp4">
        download the MP4
      </a>
      and watch it with your favorite video player!
    </video>

    <script>console.log("Hello From the Other World.")</script>
  </body>
</html>
